.black{
  color: #000000;
}

.white {
  color: #FFFFFF;
}

.gray_clear{
  color: #F2F2F2;
}

.gray {
  color: gray;
}

.blue {
  color: #165E96;
}

.blue_cian{
  color: #1b75bb;
}

/* Backgrounds */
.background_black {
  background: #000000;
}

.background_white {
  background: #FFFFFF;
}

.background_gray_clear{
  background: #F2F2F2;
}

.background_gray {
  background: gray;
}

.background_blue {
  background: #165E96;
}

.background_blue_cian{
  background: #1b75bb;
}