/* Fonts */
@font-face {
  font-family: 'Montserrat-Regular.ttf';
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold.ttf';
  src: url('/fonts/Montserrat-Bold.ttf');
}