* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat-Regular.ttf';
  font-size: 13px;
  background-image: url(../images/background.png);
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 982px;
}

.clear {
  clear: both;
}

#header {
  height: 70px;
  box-shadow: rgba(0,0,0,0.3) 0px 2px 3px; 
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 3px; 
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 3px; 
  -khtml-box-shadow: rgba(0,0,0,0.3) 0px 2px 3px;
}

footer, #push{
  margin-top: 10px;
  height: 50px;
}

#registered {
  width:200px;
  height:30px;
  margin-top:40px;
  border-right:solid 30px #135384;
  font-size:12px;
}

#registered ul {
  line-height:20px;
}

#registered ul li {
  padding: 3px 0 0 5px;
  list-style-type: square;
}

a{
  outline: none;
  color:#000000;
  cursor:pointer;
}

a.not_decoration{
  text-decoration: none;
}

a.desactive img{
  opacity: 0.5 !important;
  cursor: no-drop;
  cursor: not-allowed;
}

.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.ac {
  text-align: center;
}

.bold {
  font-weight:bold;
}
.not_bold {
  font-weight:normal;
}

.justify{
  text-align:justify;
}

.cursive{
  font-family: cursive;
}

.italic{
  font-style: italic;
}

.pointer{
  cursor: pointer;
}

.padding0{
  padding: 0px;
}

.padding1{
  padding: 1%;
}

.padding2{
  padding: 2%;
}

.padding3{
  padding: 3%;
}

h1 {
  font-size:22px;
}
h2 {
  font-size:17px; 
}
h3 {
  font-size:14px;
}
h4 {
  font-size: 13px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
}
h7 {
  font-size: 10px;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px;
  line-height: 25px;
  font-weight:normal;
}

.float_left {
  float:left;
  position: relative;
}

.float_center {
  float:center;
  position: relative;
}

.float_right {
  float:right;
  position: relative;
}

.bottom{
  bottom:0;
}

.position_absolute{
  position: absolute;
}

.position_relative{
  position: relative;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 1;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8 {
  margin-left:18px;
  display:block;
  float:left;
}
.columns {
  display:block;
  float:left;
}
.first {
  margin-left:0;
  float:left;
}
.leading {
  margin-bottom:8px;
}
.top {
  margin-top:10px;
}
.after_top {
  margin-top:8px;
}

.grid_1 {
  width:107px;
}
.grid_2 {
  width:232px;
}
.grid_3 {
  width:357px;
}
.grid_4 {
  width:482px;
}
.grid_5 {
  width:607px;
}
.grid_6 {
  width:732px;
}
.grid_7 {
  width:857px;
}
.grid_8 {
  margin-left:0;
  width: 982px;
}

table.full {
  width: 100%;
}

table.style {
  border-collapse: separate;
  border-spacing: 0;
}

table.style tbody tr td {
  background: #F2F2F2;
  border: solid 1px white;
}

.form label {
  display: block;
  font-size: 12px;
  margin: 9px 0;
  width: 150px;
  float: left;
  text-align: right;
  word-wrap: break-word;
}

.form input, .form textarea, .form select, .form .selector {
  float: left;
}

.form .selector {
  margin-left: 6px;
}

select, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input.date, input[type=number], input[type=time], input[type=color], input[type="file"] {
  background-color: #ffffff;
  color:gray;
  height:22px;
  border: 1px solid #ccc;
  padding: 4px 6px;
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  font: 13px/16px Arial, sans-serif !important;
  margin: 7px 10px 7px 10px;
}

select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  width: 225px;
  height:35px;
  background: url(../images/icons/arrow_down.svg) no-repeat 188px -7px;
  background-size: 23px;
  background-color: #FFFFFF;
}

select.medium {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  width:180px;
  height:30px;
  background: url(../images/icons/arrow_down.svg) no-repeat 143px -5px;
  background-size: 35px;
  background-color: #FFFFFF;
}

input[id=login], input[id=password] {
  width:292px;
  height:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  margin: 0 0 0 10px;
}

.button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 7px 20px;
  outline: none !important;
  text-align: center;
  text-decoration: none;
  -moz-box-sizing: border-box !important;
  line-height: 16px;
}

.button.background_blue:hover{
  background-color:#135384;
}

hr{
  width:99%;
  border: 0;
  background-color: #FFFFFF;
  height: 1px;
}

.flash{
  padding: 10px;
  margin-bottom: 10px;
}

.error{
  background: #fae2e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
  background: -moz-linear-gradient(top,  #fae2e2,  #f2cacb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
  color: #be4741;
  text-shadow: 0 1px 0 #fff;
}

.notice{
  background: #e5edc4;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
  background: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
  color: #3f7227;
  text-shadow: 0 1px 0 #fff;
}

.warning{
  background: #ffffc0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffc0), to(#f9ee9c));
  background: -moz-linear-gradient(top,  #ffffc0,  #f9ee9c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0', endColorstr='#f9ee9c');
  color: #6d7829;
  text-shadow: 0 1px 0 #fff;
}

.center_of_the_page{
  width:340px;
  margin: 0 auto;
  margin-left: -15%;
  top: 30%;
  left: 51%;
  position: absolute;
}