.grid_8
  .grid_6.first.background_white
    %table.full.padding1
      %thead
        %tr
          %td{:colspan => 10}
            %hr.background_blue
            %h4.ac.padding1.navy_blue
              = ActivityLog.model_name.human(:count => :other)
              = "(" + @activity_logs.count.to_s + ")"
            %hr.background_blue
        %tr
          %td.ac
            = ActivityLog.human_attribute_name(:id)
          %td.ac
            = ActivityLog.human_attribute_name(:baby_id)
          %td.ac
            = ActivityLog.human_attribute_name(:assistant_id)
          %td.ac
            = ActivityLog.human_attribute_name(:activity_id)
          %td.ac
            = ActivityLog.human_attribute_name(:start_time)
          %td.ac
            = ActivityLog.human_attribute_name(:duration)
          %td.ac
            = ActivityLog.human_attribute_name(:comments)
      %body
        - @activity_logs.each do |activity|
          %tr.ac.gray
            %td.ac
              = activity.id
            %td.ac
              = activity.baby.name
            %td.ac
              = activity.assistant.name
            %td.ac
              = activity.activity.name
            %td.ac
              = l activity.start_time, :format => :short
            %td.ac
              = activity.nullo.duration.if_nil("*")
            %td.ac
              = activity.comments  

  //Filters
  .grid_2
    .padding3.background_white.navy_blue
      .clearfix.ac.top
        %label
          = Baby.model_name.human(:count => :other)
        = select_tag :baby_id, options_for_select(@babies, :selected => params[:baby_id]), {:class => :medium, :include_blank => t(:select)}
      %hr.background_gray_clear
      .clearfix.ac.top
        %label
          = Assistant.model_name.human(:count => :other)
        = select_tag :assistant_id, options_for_select(@assistant, :selected => params[:assistant_id]), {:class => :medium, :include_blank => t(:select)}
      %hr.background_gray_clear
      .clearfix.ac.top
        %label
          = Activity.model_name.human(:count => :other)
        = select_tag :activity_id, options_for_select(@activities, :selected => params[:activity_id]), {:class => :medium, :include_blank => t(:select)}
      %hr.background_gray_clear
      .ar.top
        %a.button.background_blue.white{:onclick => "searchActivities();"}
          = t(:search)

.clear
#push

:javascript
  $(document).ready(function(){
    
  });

  //Search Activities
  function searchActivities(){
    var baby_id = $("#baby_id option:selected").val(),
        assistant_id = $("#assistant_id option:selected").val(),
        activity_id = $("#activity_id option:selected").val();

    window.location.href = "?baby_id=" + baby_id + "&assistant_id=" + assistant_id + "&activity_id=" + activity_id;
  }