.wrapper
  .grid_8.gray
    .center_of_the_page.border_radius
      .padding2
        .form.top
          = form_for(@user_session, :as => :user_session) do |f|
            .clearfix.ac
              %h3.padding2.background_blue.white.border_radius_top{:style => "width:293px; margin:0 0 0 10px;"}
                = t(:user)
              = f.text_field :login, :value=>"", :id=>"login"
            .clearfix.ac{:style => "margin-top:30px"}
              %h3.padding2.background_blue.white.border_radius_top{:style => "width:293px; margin:0 0 0 10px;"}
                = t(:password)
              = f.password_field :password , :value=>"", :id=>"password"
            .clearfix.ar{:style => "margin:20px 9px 0 0"}
              %button.button.background_blue.white{:type => "submit"}
                = t :login