#header.background_blue
  .wrapper
    %img{:src => "/images/logo.svg", :width => "160px", :style => "margin-top:15px;"}
    - if current_user
      #registered.background_white.gray.float_right
        %ul{:style => "margin:3px 20px;"}
          %li
            %a.blue.not_decoration{:href => logout_path}
              = t(:logout)