<!DOCTYPE html>
<html>
  <head>
    <title>Kinedu</title>
    <!-- Fonts -->
    <%= stylesheet_link_tag "fonts" %>
    <!-- Colors -->
    <%= stylesheet_link_tag "colors" %>
    <!-- Globals -->
    <%= stylesheet_link_tag "kinedu" %>
    <!-- CSS Aditionals -->
    <%= yield :css %>
    <!-- JQuery-->
    <%= javascript_include_tag "jquery-1.6.4" %>
    <!-- Globals -->
    <%= javascript_include_tag "kinedu" %>
    <!-- Java Aditionals -->
    <%= yield :js %>
  </head>
  <body>
    <div id="wrapper">
      <%= render :partial => "layouts/header" %>
      <div class="wrapper">
        <div class="grid_8">
           <div class="top">
            <%= errorFlash(flash) %>
          </div>
          <!-- Yield -->
          <div class="grid_6 first top">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => "layouts/footer" %>
  </body>
</html>

